<div class="header">
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
        [{% for childlink in linklists[child_list_handle].links %}
          <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        {% endfor %}]
      </li>
    {% else %}
      <li>
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}

<li>
  <a href="/cart">cart</a>
</li>


  {% if shop.customer_accounts_enabled %}
  {% if customer %}
      <li>
        <a href="/account">account</a>
      </li>
      <li>
        {{ 'ログアウト'  | customer_logout_link }}
      </li>
      {% else %}
      <li>
        {{ 'ログイン' | customer_login_link }}
      </li>
      <li>
        {{ '会員登録' | customer_register_link }}
      </li>
    {% endif %}
  {% endif %}
</div>