{% if cart.item_count > 0 %}
<div class="cart_container">
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <ul class="cart_item_list">
      {% for item in cart.items %}
        <li class="flex_wrap">
          <div class="img_wrap">
            <a href="{{ item.url | within: collections.all }}">
              <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
            </a>
          </div>
          <div class="info_wrap">
            <div class="cart_item_quantity">
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </div>
            <div class="cart_item_price">
              {{ item.price | money }}
            </div>
            <div class="cart_item_remove">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">削除</a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="cart_payment">
      <p class="total_price"> 合計 : {{ cart.total_price | money }}</p>
      <div class="button_items">
        <button class="update_in_cart" type="submit" name="update">更新</button>
        <button class="checkout_in_cart" type="submit" name="checkout">お支払いへ進む</button>
      </div>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
</div>
