{% paginate collection.products by 9 %}
  <h1 class="collection_title">{{ collection.title }}</h1>

  <div class="collection_container">
    <ul class="product_lists">
      {% for product in collection.products %}
        <li class="product_content">
          <a href="{{ product.url | within: collection }}">
            <div class="product_img">
              <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
            </div>
            <div class="product_title">
              {{ product.title }}
            </div>
            <div class="product_price">
              {{ product.price | money }}
              {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
            </div>
          </a>
        </li>
        {% else %}
        <p>no matches</p>
      {% endfor %}
    </ul>
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  </div>
{% endpaginate %}
